body{
    background: rgb(216, 216, 216);
    font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif; 
    height: 100%;
    color: rgb(99, 98, 98); /*#444444;*/
    }

.inner {
    margin: 50px auto 50px auto; 
    width: 50%;
    overflow: hidden;
    letter-spacing: 0.5px;
}


h1 {
    font-weight: 350;
    margin-top: 50px
}

h1, h2, h3, h4 {
    font-weight: 300;
    /*color:  #D4A017;*/
    text-align: center;
}

.subtitle {
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 5px;
    color: #6c71c4;
    line-height: 120%;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 24px;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin: 24px 0 6px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}


a {
    color: #6c71c4;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}
a:visited {
    color: #6c71c4;
}

p, ul, ol {
    font-size: 14px;
    line-height: 130%;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    letter-spacing: 1pt;
}

#content { 
    margin: 3%;
}

.posts {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.posts td {
    vertical-align: top;
}

.posts .date {
    width: 29%;
}

.header > .left, .header > .right {
    margin-top: 10%;
    width: 15%;
    font-size: 15pt;
    padding: 2%;
}
.button {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 3px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size: 13pt;
    color: inherit;
    width: 100%;
    margin-top: 8%;
    margin-left: 4%;
    padding: 1%;
}

.botton:hover {
    background: #1abc9c;
    color: #1abc9c;
}

.left {
    float: left;
    text-align: left;
}


.right {
    float: right;
    margin-right: 2%;
}


li {
    line-height: 24px;
    list-style-position: outside;
    max-width: 450px;
  }


pre {
    padding: 0px 24px;
}

code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 16px;
}

.aside {
    float: left;
    width: 100;
    margin-left: 80%;
    line-height: 120%;
}

blockquote {
    max-width: 90%;
}
blockquote p {
    color: #6c71c4;
    max-width: 50%;
    margin: auto;
}

hr {
    width: 400px;
    text-align: center;
    margin: 20px auto 20px auto;
    color: #999;
}

.img {
    margin: 5px 5px 15px 15px;
    float: right;
    font-size: 80%;
    text-align: center; 
}



.poem {
    font-size: 14px;
    line-height: 24px;
    float: left;
    margin-right: 2%;
    margin-top:-20px;
    padding-bottom: 2%;
    padding-right: 2%;
    white-space: pre;
    /*background: #313235;*/
    line-height: 24px;
    color: #6c71c4;
}

.caption {
    text-align: center;
    margin: auto auto;
    line-height: 150%;
    color: #6c71c4;
}

img {
    width: 100%;
}
img .center {
    width: 100%;
}

img .right {
    margin: 5px 5px 5px 5px;
    width: 300px;
}


#questions li {
    margin: auto;
    width: 600;
}

.footer, .header {
    /*background-color: #424242;*/
    width: 95%;
    text-align: center;
    transform: translate(5px,0);
    -ms-transform: translate(2.5%,0px); /* IE 9 */
    -webkit-transform: translate(2.5%,0px); /* Safari and Chrome */
    -o-transform: translate(2.5%,0px); /* Opera */
    -moz-transform: translate(2.5%,0px); /* Firefox */
}

.footer {
    margin: 0px auto 0 auto;
    padding: 10px 0px 0px 0px;
    position: absolute;
    overflow: hidden;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    } 

.header {
    margin: 0px auto 0 auto;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.footer li, .header li{
    list-style-type: none;
    display: inline;
    width: 180px;
    margin:  0px 40px 80px 5px;
    position: relative;
    font-weight: normal;
    list-style-type: none;
    text-align: center;

}

#me {
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}
