:root {
     --night: hsl(17, 100%, 10%);
     --clay: hsl(17, 62%, 54%);
     --cornflower: hsl(197, 62%, 54%);
     --sapphire: hsl(197, 90%, 25%);
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--night);
}


h1, h2, h3, h4, h5 {
    font-weight: 600;
    font-family: 'Poiret One', cursive;
    color: var(--clay)
}


nav h2 {
    color: var(--sapphire);
    font-weight: lighter;
    margin-left: 1em;
}

article {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    display: flex;
    flex-flow: row wrap;
}

article > p {
  flex: 1 100%;
}

.poem, aside {
    font-size: 1rem;
    color: var(--sapphire);
    min-width: 14em;
    line-height: 180%;
    padding-bottom: 2%;
    padding-right: 2%;
    flex: 2 50%;
}

article.landing {
    float: none;
    max-width: 40em;
    margin: auto;
}

div.landing {
    padding-left: 1.5em;
    padding-top: 1em;
    margin: auto;
    max-width: 60em;
}

nav.left-down {
    max-width: 14em;
    text-align: left;
    padding-right: 1em;
}

nav.flow-right div.item{
    display: inline-block;
    vertical-align: top;
    max-width: 20em;
}

a {
    color: var(--cornflower);
    vertical-align: baseline;
    font-weight: bold;
}

a:visited {
    color: var(--sapphire);
}

a:hover {
    text-decoration: none
}

nav.table ul {
    display: inline-flex;
    flex-direction: row;
    flex: 0 0 100%; /* Let it fill the entire space horizontally */
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
    padding:0;
}

nav.table ul li {
    flex-grow: 1;
}

nav li {
    margin-top: 1em;
    list-style: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-left: -0.5em;
    border: 1px solid white;
    overflow-wrap: break-word;
}

nav li.current, nav div li:hover {
    border: 1px solid grey;
}


.img {
    margin: 5px 5px 15px 15px;
    font-size: 80%;
    text-align: center;
}



.poem {
    float: left;
    margin-right: 2%;
    white-space: pre;
}

.caption {
    text-align: center;
    margin: 2% auto;
    line-height: 150%;
}

img {
    width: 90%;
    margin: auto;
    padding: 5%
}

blockquote {
    color: var(--sapphire);
}

blockquote:before {
     content: "\f10d";
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     display: inline-block;
     margin-left: -3rem;
     font-style: italic;
     position: absolute;

 }


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2),
only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3),
(max-width: 60em) {
    nav {
        min-width: 5em;
    }

    article {
        float: right;
        width: 95%;
    }

    [name=toggle] {
      display: block;
    }

    body {
        text-align: initial;
    }

    /*[name=items] {
      display: none;
    }*/
}

