          <div class=item>
            <h2>me</h2>
            <ul>
                <li class="{% if page.layout == 'nav' or page.layout == 'title' %} current {% endif %}">
                <a href="/" >{{site.url}}</a>
                </li>
            </ul>
            <ul>
                <li>
                <a href=https://docs.google.com/document/d/1rkBtYcC2HVZ9ucqFft_bKIqbFiz7D5Wix_OjaQTwDyU/edit?usp=sharing>Curriculum vitae</a>
                </li>
            </ul>
          </div>
          <div class=item>
            <h2>projects</h2>
            <ul>
                <li>
                    A <a
                    href="https://github.com/urbanairship/connect-java-library">java client
                    </a>
                      for <a href="https://docs.urbanairship.com/guides/getting-started-connect/">Urban Airship Connect</a>
                    
                </li>
                <li>
                    <a href="https://github.com/urbanairship/datacube">datacube
                    </a> An OLAP cube implementation for counts on top of hbase
                </li>
                <li>
                    <a
                    href="https://github.com/urbanairship/technical-blog/blob/master/AirshipUITesting.md"> Modernizing Urban Airship's front end testing framework</a>
                </li>
                <li>
                    <a 
                    href="https://www.urbanairship.com/blog/introducing-objectstate-minimal-one-way-data-binding">Object State</a>
                    Frontend one-way data binding
                </li>
                <li>
                    <a href="http://awinterman.github.io/simple-scuttle/">Simple Scuttle</a>
                    Explaining the Scuttlebut gossip protocol through
                    interactive visualization
                </li>
                <li>
                    <a
                        href="https://github.com/AWinterman/api_object_specification">
                        A JSON API Specification Language
                    </a>
                </li>
                <li>
                    <a href="https://github.com/AWinterman/node-fsj">fsj</a> and
                    <a href="https://github.com/AWinterman/fsj-render">assorted</a> <a href="https://github.com/AWinterman/fsj-blog">projects</a>:
                    Tools for slurping a directory into a json object, and then
                    displaying the results on a webpage.

                </li>
            </ul>
          </div>
          <div class="blog item">
              <h2>blergh</h2>
            <ul>
            {% for post in site.posts %}
            <a href="{{ post.url }}">
            <li class="{% if post.id == page.id %} current {% endif %}" >
                <div>{{ post.title }} </div>
                <div>({{ post.date | date_to_string }})</div>
            </li>
            </a>
            {% endfor %}
            </ul>
          </div>
