<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Andrew Winterman" />
        <link rel="stylesheet" href="{{root}}/css/markdown.css" type="text/css" />
        <link rel="stylesheet" href="{{root}}/css/native.css", type = "text/css" />

        <!-- More google Analytics --!>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-32260261-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

    </script>

</head>

<body>

    <div class="header">
        <div class="left">
            <a href="/index.html">
                    {% if page.url == "/index.html" %}
                        Andrew Winterman 
                    {%else%}
                        Literature is Code
                    {% endif %} 
             </a> 
             <br/>
                 Posted: {%if page.date%}{{page.date | date_to_string }}{% endif %}
        </div>
       <div class="right">
         {% if page.next.url %}
            <a class= button href="{{page.next.url}}" title="Previous Post: {{page.next.title}}">
                     {{page.next.title}}&nbsp;&rsaquo;
            </a>
          {% endif %} 

        {% if page.previous.url %} 
            <a class=button href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
                    &lsaquo;&nbsp;{{page.previous.title}} 
            </a>
        {% endif %} 

       </div>
    </div>
    <div class="inner">
        {{ content }}
        <hr/>
    </div>
    <div class="footer">
        <div id="me">
            <ul>
                <li> email: <a href="andywinterman@gmail.com">andywinterman@gmail.com</a>  </li>
                <li> twitter: <a href="https://twitter.com/#!/andywinterman">@andywinterman</a>  </li>
                <li> github: <a href="https://github.com/AWinterman">AWinterman</a>  </li>
            </ul>
        </div>
    </div>


    <!-- Google Analytics -->
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-6016902-1");
        pageTracker._trackPageview();
    </script>
    <!-- Google Analytics end -->

</body>
</html>
