<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Andrew Winterman" />
        <link rel="stylesheet" href="{{root}}/css/style.css" type="text/css" />
        <link rel="stylesheet" href="{{root}}/css/syntax.css" type="text/css" />
</head>

<body>
    <nav>
         <div name=items>
          <h2 class=item>
                <a href="/">/</a>
          </h2>
          <div class=item>
            <h2>me</h2>
            <ul>
                <li>
                <a href=https://docs.google.com/document/d/1rkBtYcC2HVZ9ucqFft_bKIqbFiz7D5Wix_OjaQTwDyU/edit?usp=sharing>Curriculum vitae</a>
                </li>
            </ul>
          </div>
          <div class=item>
            <h2>projects</h2>
            <ul>
                <li>
                    <a href="https://github.com/urbanairship/datacube">datacube:
                    An OLAP cube implementation for counts on top of hbase</a>
                </li>
                <li>
                    <a
                    href="https://github.com/urbanairship/technical-blog/blob/master/AirshipUITesting.md"> Modernizing Urban Airship's front end testing framework</a>
                </li>
                <li>
                    <a 
                    href="https://www.urbanairship.com/blog/introducing-objectstate-minimal-one-way-data-binding">Object State</a>
                </li>
                <li>
                    <a href="http://awinterman.github.io/simple-scuttle/">Simple Scuttle</a>
                </li>
                <li>
                    <a
                        href="https://github.com/AWinterman/api_object_specification">
                        JSON API Specification Language
                    </a>
                </li>
                <li>
                    <a href="https://github.com/AWinterman/node-fsj">fsj</a> and
                    <a href="https://github.com/AWinterman/fsj-render">assorted</a> <a href="https://github.com/AWinterman/fsj-blog">projects</a>
                </li>
            </ul>
          </div>
          <div class="blog item">
              <h2>blergh</h2>
            <ul>
            {% for post in site.posts %}
            <a href="{{ post.url }}">
            <li class="{% if post.id == page.id %} current {% endif %}" >
                <div>{{ post.title }} </div>
                <div>({{ post.date | date_to_string }})</div>
            </li>
            </a>
            {% endfor %}
            </ul>
          </div>
      </div>
        <div name="toggle" class="toggle">
          <h2>
                 <a href="/nav.html" class="toggle">nav</a>
          </h2>
        </div>
    </nav>

    <article>
        {{ content }}
    </article>
    </body>
</html>
