

.graph {
  position: absolute;
  height: 100em; 
  width: 100%;
  min-width: 100%;
  z-index: -10;
  display: inline;
  padding: 0;
  overflow: visible;
  top: 100%;
  left: 0%;
  right: auto;
  bottom: auto;
}

 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.area {
  fill: steelblue;
  opacity: 0.1;
}


 
